@import url('https://fonts.googleapis.com/css2? family= Overpass:wght@400;700 & family= Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800; 0,900;1,300 & family= Quicksand:wght@300;400;500;600;700 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg1.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.icon {
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: black;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 60px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: lightgray;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: darkgrey;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid darkgray;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: darkgray;
    font-weight: 500;
    pointer-events: none;
}



.input-box input:focus~label,
.input-box input:hover~label,
.input-box input:valid~label {
    top: -3px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: darkgray;
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: darkgray;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: darkgrey;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-block-end: 2em;
}

.remember-forgot input {
    accent-color: black;
    margin-inline-end: 4px;
    border: none;
}

.remember-forgot a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: lightgrey;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 600;
}

.login-register {
    font-size: .9em;
    color: darkgrey;
    text-align: center;
    font-weight: 500;
    margin-block-start: 2em;
    display: flex;
    justify-content: space-around;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}


.login-register p a:hover {
    text-decoration: underline;
}

/* media queries for web responsive */

@media (max-width:900px) {
    header {
        background-color: rgba(2, 2, 20, 0.567)
    }

    .icon {
        display: inline-block;
    }

    header .navigation {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 15rem;
        height: 50vh;
        background-color: rgba(2, 2, 20, 0.567);
    }

    .navigation a::after {
        width: 0%;
    }

    .navigation a:hover {
        font-weight: 700;
    }

    header .navigation.active {
        right: 0;
    }

    header .navigation a {
        display: block;
        padding: 1em;
    }

    header button {
        margin-block: 1em;
    }

    .wrapper.active {
        height: 480px;
    }
}

@media only screen and (max-width:500px){
    .wrapper{
        width: 310px;
        margin-block-start: 5rem;
    }
}